<footer class="w-full pb-2 mt-4 min-h-10 text-center">
    <p class="text-gray-900 underline">Created/managed on the ancestral, unceded territory of the hən̓q̓əmin̓əm̓ speaking xʷməθkʷəy̓əm (Musqueam) people.</p>
    <p class="text-xs">© 2021 Claire Williams and Kellen Malek</p>
</footer>