---
layout: default.liquid
---
<div class="container lg:max-w-4xl max-w-full mx-auto px-8">
    <h1 class="lg:text-5xl font-bold text-xl pt-10">{{ title }}</h1>
    <p class="lg:text-lg text-m pt-4">
        <time>{{ date | date: "%d %b %Y" }}</time> 
        by 
        <a>{{ author }}</a>
    </p>
</div>
<article class="prose lg:max-w-4xl max-w-full mx-auto mt-10 pb-5">
    {{ content }}
</article>
