---
layout: default.liquid
---
<h1 class="lg:text-5xl text-2xl text-center font-bold">About Us</h1>
<div class="max-w-xl lg:max-w-full flex lg:flex-row flex-col lg:mt-10 mt-4 mx-auto px-8">
    <div class="w-full flex-auto text-center lg:mx-4 mb-8">
        <picture>
            <source srcset="/media/kellenProfile.avif" type="image/avif">
            <source srcset="/media/kellenProfile.webp" type="image/webp">
            <source srcset="/media/kellenProfile.jpg" type="image/jpeg">
            <img class="mx-auto mb-2" src="/media/claireProfile.jpg" height="337" width="500" loading="lazy">
        </picture>
        <p class="px-2"><span class="font-bold">Kellen Malek</span> is a librarian, and he currently works as a Digital Production Assistant for RavenSpace / UBC Press.</p>
    </div>
    <div class="w-full flex-auto text-center lg:mx-4 mb-8">
        <picture>
            <source srcset="/media/claireProfile.avif" type="image/avif">
            <source srcset="/media/claireProfile.webp" type="image/webp">
            <source srcset="/media/claireProfile.jpg" type="image/jpeg">
            <img class="mx-auto mb-2" src="/media/claireProfile.jpg" height="337" width="500" loading="lazy">
        </picture>
        <p class="px-2"><span class="font-bold">Claire Williams</span> is a poet, prose author, and archivist, and she is currently serving as the Natural Resources Archivist for UBC Library's Rare Books and Special Collections.</p>
    </div>
    <div class="w-full flex-auto text-center lg:mx-4 mb-10">
        <picture>
            <source srcset="/media/sadieProfile.avif" type="image/avif">
            <source srcset="/media/sadieProfile.webp" type="image/webp">
            <source srcset="/media/sadieProfile.jpg" type="image/jpeg">
            <img class="mx-auto mb-2" src="/media/sadieProfile.jpg" height="337" width="500" loading="lazy">
        </picture>
        <p class="px-2"><span class="font-bold">Sadie Beatrix Kundera Potter Williams</span> is a blue heeler rescue pup, and she is currently serving as the Dunbar Neigborhood's Master Squirrel Hunter.
    </div>
</div>