---
layout: default.liquid
---
<h1 class="lg:text-5xl text-2xl text-center lg:pt-10 pt-12 font-bold">About Us</h1>
<div class="flex lg:flex-row flex-col mt-10 mx-8">
    <div class="w-full flex-auto flex-wrap text-center mx-4 mb-8">
        <img class="mx-auto mb-2" src="/media/kellenProfile.jpeg" width="500"/>
        <p><span class="font-bold">Kellen Malek</span> is a librarian, and he currently works as a Digital Production Assistant for RavenSpace / UBC Press.</p>
    </div>
    <div class="w-full flex-auto flex-wrap text-center mx-4 mb-8">
        <img class="mx-auto mb-2" src="/media/ClaireProfile.jpg" width="500"/>
        <p><span class="font-bold">Claire Williams</span> is a poet, prose author, and archivist, and she is currently serving as the Natural Resources Archivist for UBC Library's Rare Books and Special Collections.</p>
    </div>
    <div class="w-full flex-auto flex-wrap text-center mx-4 mb-8">
        <img class="mx-auto mb-2" src="/media/sadieProfile.jpg" width="500"/>
        <p><span class="font-bold">Sadie Beatrix Kundera Potter Williams</span> is a blue heeler rescue pup, and she is currently serving as the Dunbar Neigborhood's Master Squirrel Hunter.
    </div>
</div>