<!DOCTYPE html>
<html lang="en">
    {% include head %}
    <body class="bg-yellow-50 text-gray-600">
        <h1 class="text-5xl lg:text-8xl font-bold text-center mt-20 lg:mt-40 py-5"><a href="/">{{ settings.title }}</a></h1>
        {% if settings.navigation %}
        <nav class="text-center lg:text-4xl text-2xl font-bold py-10">
            <ul>
                {% for item in settings.navigation %}
                <li class="py-5"><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}
    </body>
</html>